<div class="col-sm-6">
    <label for="<%= id %>" class="form-label"><%= title %></label>
    <input type="text" class="form-control" id="<%= id %>" placeholder="<%= title %>" value="" required>
    <div class="invalid-feedback">
        <%= wrongMsg %>
    </div>
</div>
