<div class="col-4">
    <label for="<%= id %>" class="form-label"><%= title %></label>
    <div class="input-group has-validation">
        <span class="input-group-text"><%= label %></span>
        <input type="text" class="form-control" id="<%= id %>" placeholder="<%= title %>" required>
        <div class="invalid-feedback">
            <%= wrongMsg %>
        </div>
    </div>
</div>
