<div class="col">
    <div class="card shadow-sm text-center">
        <a href="<%= link %>">
            <img src="<%= img %>" class="card-img-top card-img-cover" alt="<%= alt %>">
        </a>
        <div class="card-body">
            <h3 class="card-title"><%= title %></h3>
            <p class="card-text"><%= content %></p>
        </div>
    </div>
</div>
