<%- include('partials/head', { scripts: [] }) %>

<%- include('partials/header') %>
    <main>
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-1 text-center bg-light" id="main_canvas">
            <div class="col-md-5 p-lg-5 mx-auto mp-12">
                <h1 class="display-4 fw-normal iwantwhite">Earth</h1>
                <p class="lead fw-normal iwantwhite">Home sweet home, isn't it?</p>
            </div>
        </div>
        <div class="container p-3 p-md-3">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <%- include('partials/propCard', { sourceImg: "https://bgr.com/wp-content/uploads/2014/08/universe.jpg", altImg: "color", title: "Color"} ) %>
                <%- include('partials/propCard', { sourceImg: "https://bgr.com/wp-content/uploads/2014/08/universe.jpg", altImg: "solar system", title: "Solar System"} ) %>
                <%- include('partials/propCard', { sourceImg: "https://bgr.com/wp-content/uploads/2014/08/universe.jpg", altImg: "mass", title: "Mass"} ) %>
                <%- include('partials/propCard', { sourceImg: "https://bgr.com/wp-content/uploads/2014/08/universe.jpg", altImg: "type", title: "Type"} ) %>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>
