<%- include('partials/head', { scripts: [] }) %>

<%- include('partials/header') %>
    <main>
        <%- include('partials/headTitle', {
            title: "Universe!", 
            content: "What are you about to see and discover will break you mind appart, I promise you!"
        }) %>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                    <%- include('partials/planetCard', { link: "/planet",
                     img: "https://w.wallhaven.cc/full/eo/wallhaven-eo3m7k.jpg",
                     alt: "my planet",
                     title: "my planet",
                     content: "this is some kind of textthis is some kind of textthis is some kind of textthis is some kind of textthis is some kind of text",
                    }) %>
                    <%- include('partials/planetCard', { link: "/planet",
                     img: "https://w.wallhaven.cc/full/eo/wallhaven-eo3m7k.jpg",
                     alt: "my planet",
                     title: "my planet",
                     content: "this is some kind of textthis is some kind of textthis is some kind of textthis is some kind of textthis is some kind of text",
                    }) %>
                    <%- include('partials/planetCard', { link: "/planet",
                     img: "https://w.wallhaven.cc/full/eo/wallhaven-eo3m7k.jpg",
                     alt: "my planet",
                     title: "my planet",
                     content: "this is some kind of textthis is some kind of textthis is some kind of textthis is some kind of textthis is some kind of text",
                    }) %>
                    <%- include('partials/planetCard', { link: "/planet",
                     img: "https://w.wallhaven.cc/full/eo/wallhaven-eo3m7k.jpg",
                     alt: "my planet",
                     title: "my planet",
                     content: "this is some kind of textthis is some kind of textthis is some kind of textthis is some kind of textthis is some kind of text",
                    }) %>
                </div>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>
