<%- include('partials/head', { scripts: [] }) %>

<%- include('partials/header') %>
    <main>
        <%- include('partials/headTitle', {
            title: "Universe!", 
            content: "What are you about to see and discover will break you mind appart, I promise you!"
        }) %>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                    <% planets.forEach(function(planet){ %>
                        <%- include('partials/planetCard', { 
                            link: "/planet/" + planet._id,
                            img: planet.image,
                            alt: planet.name,
                            title: planet.name,
                            content: planet.description
                        }); %>
                    <% }); %>
                </div>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>
